/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
  width: 100%;

  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* HEADER */
header {
  height: 12vh;
  display: flex !important;
  width: 94%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.w-100 {
  width: 100%;
}

nav {
  display: flex;
  width: 33%;
  justify-content: space-between;
  font-size: 1.4em;
  font-weight: 400;
}

.dropbtn {
  width: 26px;
}

.logo {
  width: 220px;
}

a {
  cursor: pointer;
}

#hamburger-button {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  vertical-align: top;
  padding: 0;
  line-height: 47px;
  float: right;
  margin-right: 32px;
}

#hamburger-sidebar {
  display: none;
  position: fixed;
  width: 84%;
  z-index: 20;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
}

#hamburger-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* MIDDLE SECTION */
.section1 {
  background-image: url("../images/landing.jpg");
  height: 88vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-text {
  width: 60%;
  text-align: center;
  position: absolute;
  color: white;
  margin-top: -20px;
}

h1 {
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 400;
}
p {
  font-size: 30px;
  font-weight: 300;
}

/* FOOTER */
footer {
  height: 150vh;
  margin: 3%;
}

/* SECTION  2*/
.section2 {
  background-color: darkorange;
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colonnes3 {
  display: flex;
  justify-content: space-between;
}

.w-33 {
  width: 28%;
}

img {
  width: 130px;
}

/* SECTION  3*/
.section3 {
  background-color: mediumvioletred;
  height: 100vh;
}

/* MOBILE */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 42px;
    line-height: 56px;
  }

  #hamburger-content {
    display: none;
  }

  #hamburger-button,
  #hamburger-sidebar,
  .hamburger-activated #hamburger-overlay {
    display: block;
  }

  .hamburger-activated #hamburger-sidebar {
    transform: translateX(0);
  }
}
