@charset "UTF-8";
/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* DESKTOP */
  /* HEADER */
  /* MIDDLE SECTION */
  /* FOOTER */
  /* SECTION  2*/
  /* SECTION  3*/
  /* MOBILE */
}
body h1,
body h2,
body h3,
body h4,
body p {
  margin: 0;
}
body .mobile {
  display: none !important;
}
body header {
  height: 12vh;
  display: flex !important;
  width: 94%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
body .w-100 {
  width: 100%;
}
body .nav-desktop {
  display: flex;
  width: 33%;
  justify-content: space-between;
  font-size: 1.4em;
  font-weight: 400;
}
body .dropbtn {
  display: none;
}
body .logo {
  width: 220px;
}
body a {
  cursor: pointer;
}
body .section1 {
  background-image: url("../images/landing.jpg");
  height: 88vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .music-text {
  width: 60%;
  text-align: center;
  position: absolute;
  color: white;
  margin-top: -20px;
}
body h1 {
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 400;
}
body p {
  font-size: 30px;
  font-weight: 300;
}
body footer {
  height: 150vh;
  margin: 3%;
}
body .section2 {
  background-color: darkorange;
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .colonnes3 {
  display: flex;
  justify-content: space-between;
}
body .w-33 {
  width: 28%;
}
body img {
  width: 130px;
}
body .section3 {
  background-color: mediumvioletred;
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  body .desktop {
    display: none !important;
  }
  body .mobile {
    display: block !important;
    /* HEADER */
  }
  body .mobile header {
    height: 12vh;
    display: flex !important;
    width: 94%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  body .mobile .w-100 {
    width: 100%;
  }
  body .mobile .nav-desktop {
    display: flex;
    width: 33%;
    justify-content: space-between;
    font-size: 1.4em;
    font-weight: 400;
  }
  body .mobile .dropbtn {
    display: none;
  }
  body .mobile .logo {
    width: 220px;
  }
  body .mobile a {
    cursor: pointer;
  }
  body .mobile .dropdown-content {
    display: flex;
    width: 33%;
    justify-content: space-between;
    font-size: 1.4em;
    font-weight: 400;
  }
  body .mobile .nav-mobile  {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    font-size: 1.4em;
    font-weight: 400;
  }
  body .mobile .dropbtn {
    color: black;
    background-color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  body .mobile .dropbtn {
    display: block;
    width: 26px;
  }
  body .mobile .dropdown {
    position: relative;
    display: inline-block;
  }
  body .mobile .dropdown-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #fff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 65%;
  }
  body .mobile .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  body .mobile .show {
    display: block;
  }
}

/*# sourceMappingURL=index.css.map */
